<link rel="stylesheet" href="/static/css/post.css">
<link rel="stylesheet" href="/static/css/user.css">
<link rel="stylesheet" href="/static/css/viewpost.css">
<script src="/static/js/viewpost.js" defer></script>
<script src="/static/js/create.js" defer></script>
<script src="/static/js/delete.js" defer></script>
<script src="/static/js/voting.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="flex-column-container expanded-container">
    
    <div class="flex-row-container post" id="post{{ post.num }}">
        <div class="actions-post flex-column-container">
            <button class="upvote"></button>
            <p class="number"> {{post.votes}} </p>
            <button class="downvote"></button>
        </div>

        <div class="flex-column-container">
            <div class="flex-row-container">
                <div id="author-pic">
                    <img class="user" src="/static/profilepics/{{author.username}}.jpg">
                </div>
                
                <div class="flex-column-container post-details">
                    <p id="postauthor-username" class="username"> @{{author.username}} </p>
                    <p class="post-title">  {{ post.title }} </p>
                    <p class="home-description">  {{ post.description }} </p>
                </div>
            </div>
            
            <div class="actions-post flex-row-container">
                <p class="comment"></p>
                <p class="number"> {{ post.num_comments }} </p>
            </div>
            <div>
                <button id="edit-title" class="add-edit-button"> Edit Title </button>
                <button id="edit-post" class="add-edit-button"> Edit Description</button>
                <button id="delete-post" class="add-edit-button"> Delete </button>
            </div>
        </div>
    </div>

    <div class="comments flex-column-container">
        <button id="add-comment" class="add-edit-button"> Add a Comment </button>
        {{> makecomment }}

        <div class=" flex-column-container comment-section">
            {{#each comments }}
            {{> comment this authorun=author}}
            {{/each }}
            
        </div>
    </div>
</div>