<script src="/static/js/commentprofile.js" defer></script>
<div class="flex-row-container comment-list" id="comment{{commentNum}}">
    <div class="actions-post flex-column-container">
            <button class="upvote"></button>
            <p class="number"> {{ votes }} </p>
            <button class="downvote"></button>
        </div>

    <div class="flex-column-container comment-container">
        <div class="flex-row-container comment-info">
            <div>
                <img class="user" src="data:image/{{ user_id.pfp.contentType }};base64,{{ user_id.pfp.data }}">
            </div>

            <div class="flex-column-container post-details">
                <p class="username">@{{ user_id.username }} </p>
                {{#if parent_id}}
                    <p class="post-title"> Replied to a comment </p>
                {{else}}
                    <p class="post-title"> Replied to a post </p>
                {{/if}}
                <p class="profile-comment">{{ comment }}</p>
                {{#if edited }}
                    <p class="edited-mark"> (edited)</p>
                {{/if}}
                <br>
                <p class="date">{{ formatDate date }} </p>
            </div>
        </div>

        {{#ifEqual @root.user.username user_id.username}}
        {{> edit_comment }}
        {{/ifEqual}}
        
        <div class="actions-post flex-row-container">
            <button class="comment"></button>
            <p class="number">{{ num_comments }}</p>
        </div>

        {{#ifEqual @root.user.username user_id.username}}
        <div class="flex-row-container comment-buttons">
            <button id="edit-comment{{commentNum}}" class="add-edit-button edit-comment"> Edit </button>
            <button id="delete-comment{{commentNum}}" class="delete-c add-edit-button"> Delete </button>
        </div>
        {{/ifEqual}}
    </div>
</div>