<div class="flex-row-container comment-list">
    <div class="actions-post flex-column-container">
            <button class="upvote"></button>
            <p class="number"> {{ votes }} </p>
            <button class="downvote"></button>
        </div>

    <div class="flex-column-container comment-container">
        <div class="flex-row-container">
            <div>
                <img class="user" src="/static/profilepics/{{user_details.username}}.jpg">
            </div>

            <div class="flex-column-container post-details">
                <p class="username">{{user_details.username}} </p>
                <p class="post-title"> Replied to <b>@{{author}}</b> </p>
                <p class="profile-comment"> {{ comment }} </p>
            </div>
        </div>
        
        <div class="actions-post flex-row-container">
            <button class="comment"></button>
            <p class="number"> {{ num_comments }} </p>
        </div>
    </div>
</div>