<script src="/static/js/commentprofile.js" defer></script>
<div class="flex-row-container comment-list" id="comment{{num}}">
    <div class="actions-post flex-column-container">
            <button class="upvote"></button>
            <p class="number"> {{ votes }} </p>
            <button class="downvote"></button>
        </div>

    <div class="flex-column-container comment-container">
        <div class="flex-row-container comment-info">
            <div>
                <img class="user" src="data:image/{{ user_details.pfp.contentType }};base64,{{ user_details.pfp.data }}">
            </div>

            <div class="flex-column-container post-details">
                <p class="username">@{{ user_details.username }} </p>
                <p class="post-title"> Replied to a post </p>
                <p class="profile-comment">{{ comment }}</p>
                {{#ifEqual currentUser user_details.username}}
                    {{#if edited }}
                    <p class="edited-mark"> (edited)</p>
                    {{/if}}
                {{/ifEqual}}
            </div>
        </div>

        {{#ifEqual currentUser user_details.username}}
        {{> edit_comment }}
        {{/ifEqual}}
        
        <div class="actions-post flex-row-container">
            <button class="comment"></button>
            <p class="number">{{ num_comments }}</p>
        </div>

        {{#ifEqual currentUser user_details.username}}
        <div class="flex-row-container comment-buttons">
            <button id="edit-comment{{num}}" class="add-edit-button edit-comment"> Edit </button>
            <button id="delete-comment{{num}}" class="delete-c add-edit-button"> Delete </button>
        </div>
        {{/ifEqual}}
    </div>
</div>