<div class="flex-row-container" id="comment{{ num }}">
    <div class="flex-column-container c">
        <img class="comment-user {{#each user_details}}{{username}}{{/each}}" src="/static/profilepics/{{#each user_details}}{{username}}{{/each}}.jpg">
        <div class="line-container"></div>
    </div>

    <div class="flex-column-container post-details">
        <p class="comment-username"> @{{#each user_details}}{{username}}{{/each}} </p>
        <p class="replied-comment"> Replied to @{{authorun.username}} <b>Fix This</b> </p>
        <p class="comment-desc"> {{ comment }} </p>

        <div class="actions-comment flex-row-container">
            <div class="flex-row-container">
                <button class="upvote"></button>
                <p class="number"> {{ votes }} </p>
                <button class="downvote"></button>
            </div>

            <div class="flex-row-container">
                <button class="comment" id="{{ num }}"></button>
                <p class="number"> {{ num_comments }} </p>
            </div>

            <div class="flex-row-container">
                <button id="edit-comment{{num}}" class="add-edit-button"> Edit </button>
                <button id="delete-comment{{num}}" class="delete-c add-edit-button"> Delete </button>
            </div>
        </div>
        <div class="reply-pop">
            {{> makereply }}
        </div>
        <div class="comment-section">
            <!--- nested comments--->   
        </div>
    </div>
</div>