<div class="flex-row-container" id="comment{{ num }}">
    <div class="flex-column-container c">
        {{!-- <img class="comment-user {{user_details.username}}" src="/static/profilepics/{{user_details.username}}.jpg"> --}}
        <img class="comment-user {{user_details.username}}" src="data:image/{{ user_details.pfp.contentType }};base64,{{ user_details.pfp.data }}">
        <div class="line-container"></div>
    </div>

    <div class="flex-column-container post-details">
        <p class="comment-username">@{{user_details.username}}</p>
        <p class="replied-comment">Replied to <b>@{{author}}</b></p>
        <p class="comment-desc">{{ comment }} </p>

        <div id="editdiv{{num}}">
            {{> edit_comment }}
        </div>

        {{#if edited }}
        <p class="edited-mark"> (edited)</p>
        {{/if}}

        <div class="actions-comment flex-row-container">
            <div class="flex-row-container">
                <button class="upvote"></button>
                <p class="number">{{ votes }}</p>
                <button class="downvote"></button>
            </div>

            <div class="flex-row-container">
                <button class="comment" id="{{ num }}"></button>
                <p class="number">{{ num_comments }}</p>
            </div>


            {{#ifEqual currentUser user_details.username}}
            <div class="flex-row-container comment-buttons">
                <button id="edit-comment{{num}}" class="add-edit-button edit-comment"> Edit </button>
                <button id="delete-comment{{num}}" class="delete-c add-edit-button"> Delete </button>
            </div>
            {{/ifEqual}}
        </div>
        <div class="reply-pop">
            {{> makereply }}
        </div>
        <div class="comment-section">
            <!--- nested comments--->   
        </div>
    </div>
</div>