<div class="flex-row-container" id="comment{{ commentNum }}">

    <div class="flex-column-container c">
        <img class="comment-user {{user_details.username}}" src="data:image/{{ user_details.pfp.contentType }};base64,{{ user_details.pfp.data }}">
        <div class="line-container"></div>
    </div>

    <div class="flex-column-container post-details">
        <p class="comment-username">@{{ user_id.username }}</p>
        <p class="replied-comment">Replied to <b>@{{ replied_to }}</b></p>
        <p class="comment-desc">{{ comment }} </p>

        <div id="editdiv{{commentNum}}">
            {{> edit_comment }}
        </div>

        {{#if edited }}
        <p class="edited-mark"> (edited)</p>
        {{/if}}

        <div class="actions-comment flex-row-container">
            <div class="flex-row-container">
                <button class="upvote"></button>
                <p class="number">{{ votes }}</p>
                <button class="downvote"></button>
            </div>

            <div class="flex-row-container">
                <button class="comment" id="{{ commentNum }}"></button>
                <p class="number">{{ num_comments }}</p>
            </div>


            {{#ifEqual @root.user.username user_id.username}}
            <div class="flex-row-container comment-buttons">
                <button id="edit-comment{{commentNum}}" class="add-edit-button edit-comment"> Edit </button>
                <button id="delete-comment{{commentNum}}" class="delete-c add-edit-button"> Delete </button>
            </div>
            {{/ifEqual}}
        </div>
        <div class="reply-pop" id="reply-pop{{commentNum}}">
            {{> makereply }}
        </div>
        <div class="comment-section" id="cs-{{commentNum}}">
            <!--- Nested comments--->   
            {{#each replies }}
                {{> comment this replied_to=../user_id.username}}
            {{/each }}
        </div>
    </div>
</div>