<form id="editPostForm" name="editPostForm" onsubmit="return false" autocomplete="off">
    <fieldset>
        <label for="edit-title"> Title </label> <br>
        <input type="text" name="edit-title" id="edit-title" value="{{post.title}}" required/><br>
        <p id="notitle" class="noinputmsg"></p>

        <label for="edit-desc"> Description </label> <br>
        <textarea name="edit-desc" id="edit-desc" class="text" required>{{post.description}}</textarea> <br>
        <p id="nodesc" class="noinputmsg"></p>
        
        {{#if post.image}}
        <input type="file" name="newpostpic" id="newpostpic" accept="image/png, image/jpg, image/jpeg" style="display: none;"/>
        <input type="button" id="selectImage" value="Select Image" onclick="document.getElementById('newpostpic').click();" style="width: 130px;" />
        <br>
        <img id="displaynewpostimg" src="data:image/{{ post.image.contentType }};base64,{{ post.image.data }}"></img>
        {{/if}}
        <p id="noeditpostinput{{post.postNum}}" class="noinputmsg"></p> <br>
        <button id="editPost" type="submit"> Submit </button>
        <button id="clearPost" type="reset"> Clear </button>
    </fieldset>
</form>
