<div class="flex-row-container post" id="post{{ postNum }}">
    <div class="actions-post flex-column-container">
            <button class="upvote"></button>
            <p class="number">{{ votes }}</p>
            <button class="downvote"></button>
        </div>

    <div class="flex-column-container post-container" id="p{{ postNum }}">
        <div class="flex-row-container">
            <div>
                <img class="user" src="data:image/{{ user_id.pfp.contentType }};base64,{{ user_id.pfp.data }}">
            </div>

            <div class="flex-column-container post-details">
                <p class="username">@{{ user_id.username }} </p>
                <p class="post-title">{{ title }}</p> <br>
                <p class="home-description">{{ description}}</p>
                {{#if image}}
                <br>
                <div>
                    <img class="post-image" src="data:image/{{ image.contentType }};base64,{{ image.data }}">
                </div>
                {{/if}}
                {{#if edited }}
                <p class="edited-mark"> (edited)</p>
                {{/if}}
                <br>
                <p class="date">{{ formatDate date }} </p>
            </div>
        </div>
        
        <div class="actions-post flex-row-container">
            <button class="comment"></button>
            <p class="number">{{ num_comments }}</p>
        </div>

        {{#ifEqual @root.user.username user_id.username}}
        <div>
            <button id="edit-post" class="add-edit-button edit-post"> Edit Post </button>
            <button id="delete-post" class="add-edit-button delete-post"> Delete </button>
        </div>
        {{/ifEqual}}
    </div>
</div>